@import "_var";

body {
  background-color: $c-white;
  font-family: $f-body;
}

h1 {
  font-family: $f-title;
  color: $c-blue;
  text-align: center;
}
h2 {
  text-align: center;
  color: $c-blue;
  margin-bottom: $margin;
}
h5 {
  font-family: $f-title;
  color: $c-blue;
  text-align: center;
  text-transform: uppercase;
}

.header {
  position: relative;
  background-color: $c-blue;
  .logo {
    padding: 100px 30px;
  }
}
.uspwrapper {
  background-color: #ededed;
  .usp {
    text-align: center;
    padding: $padding;

    div.col-md-4 {
      margin-top: $margin;
      margin-bottom: $margin;
    }
    i {
      color: $c-blue;
      margin-bottom: $margin;
    }
  }
}
.winkel {
  text-align: center;
  padding: $padding;
  .col-md-8,
  .col-md-4 {
    margin-top: $margin;
    margin-bottom: $margin;
  }
  .card {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .openinghours {
    table {
      width: 100%;
      margin-top: $margin;
      .day {
        text-align: right;
        padding-right: 10px;
      }
      .hours {
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}
.realisaties {
  padding: $padding;
}
.partnerswrapper {
  background-color: #ededed;
  h2 {
    color: gray;
  }
}
.partners {
  text-align: center;
  padding: $padding;
  img {
    max-width: 150px;
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

.map {
  padding: 0;
  margin: 0;
}

.logo {
  width: 100%;
  text-align: center;
  svg {
    width: 100%;
    max-width: 500px;
    * {
      fill: white;
    }
  }
}

.footerwrapper {
  background-color: $c-blue;
    color: $c-white;
    text-align: center;
  .footer {
    position: relative;
    a {
      color: white;
      &:hover {
        color: white;
      }
    }
    .col-md-4 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .logo {
      width: 200px;
      margin: auto;
    }
    table {
      width: 100%;
      .day {
        text-align: right;
        padding-right: 10px;
      }
      .hours {
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}

.spacer {
  height: 30px;
}

i {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .container,
  .container-fluid {
    padding-top: $padding * 2;
    padding-bottom: $padding * 2;
  }
  .usp,
  .partners,
  .map,
  .footerwrapper,.footer {
    padding: 0;
  }
}
